<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @state.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @state.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @state.longitude %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
